* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {

  font-size: 10px;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

img {
  width: 100%;
  height: auto;
}

header {
  .nav-item {
    display: none;
  }

  #navbar {
    background: white;
    height: 5.5rem;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    border-bottom: 1px solid #e9e9e9;
  }

  #logo-h1 {
    text-align: center;
    font-size: 1.6rem;
    letter-spacing: 0.5rem;
    padding-top: 1.5rem;
  }

  .hamburger {
    position: absolute;
    margin-top: -3.0rem;
    border: 1px solid #c9cfcf;
    display: inline-block;
    margin-left: 87%;
    padding: 0.6rem 0.9rem;
    border-radius: 3px;

    .burger-line {
      width: 22px;
      height: 2px;
      background-color: grey;
      margin: 4px 0;
      border-radius: 25px;
    }
  }
}

div.main {
  margin-top: 5.5rem;

  img {
    width: 100%;
    height: 25rem;
  }

  .main-grid {
    position: absolute;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    margin-top: -18rem;
    width: 100%;

    #arrow-right {
      padding-left: 1rem;
      margin-top: 3.5rem;
      text-align: right;
    }

    #play {
      font-size: 6rem;
      opacity: 0.5;
    }

    #play i:hover {
      opacity: 1;
    }

    #arrow-left {
      margin-top: 3.5rem;
    }

    #middle-column {
      text-align: center;
      margin: 0 auto;
    }

    #main-img-h1 {
      font-size: 3.6rem;
      margin-top: 12.5rem;
      line-height: 4.1rem;
      font-family: "Francois One";
      letter-spacing: 0.1rem;
      padding: 0 4%;
    }

    p {
      margin-top: 1.7rem;
      font-size: 13px;
      line-height: 2rem;
      font-weight: 300;
      width: 346px;
      margin: 0 auto;
    }

    button {
      background: black;
      color: white;
      padding: 2rem 12.8rem;
      margin-top: 1.8rem;
      border: 1px solid black;

      span {
        position: absolute;
        margin-top: -0.8rem;
        margin-left: -5rem;
        font-weight: 600;
        font-size: 1.3rem;
      }

      i {
        position: absolute;
        margin-top: -1.5rem;
        margin-left: 8rem;
        font-size: 3rem;
      }
    }

    .bubbles {
      i {
        font-size: 2rem;
        margin-top: 10rem;
      }
    }
  }
}

.wrapper {
  text-align: center;
  margin-top: 31.5rem;
  padding: 8rem;

  img {
    height: auto;
    width: 20rem;
  }

  p {
    font-weight: 300;
    line-height: 2rem;
    font-size: 1.3rem;
    margin-top: 1rem;
  }
}

#border {
  width: 100%;
  height: 7.5rem;
  margin-top: -1rem;
}

#pick-your {
  text-align: center;
  padding: 0 2rem;

  h1 {
    margin-top: 3rem;
    font-family: "Francois One";
    font-size: 3.6rem;
    letter-spacing: 0.1rem;
  }

  p {
    font-size: 13px;
    font-weight: 300;
    line-height: 2rem;
    margin-top: 1rem;
  }
}

.plan-grid {
  text-align: center;

  #big-show {
    display: none;
  }

  #weekly {
    margin-top: 4rem;

    .titles {
      margin-left: -.3rem;
    }

    h1 {
      font-size: 1.7rem;
      letter-spacing: 0.1rem;
      display: inline-block;
      border: 1px solid black;
      margin-right: -0.3rem;
      padding: 0.3rem 4.7rem;
      font-weight: 200;
    }

    #selected {
      background: black;
      color: white;
    }
  }

  .block {
    border: 1px solid black;
    width: 33.6rem;
    margin-left: 2.1rem;
    margin: 0 auto;

    img {
      width: auto;
      height: 20rem;
      margin-top: 2rem;
    }

    p {
      font-family: 'Kalam', cursive;
      font-size: 1.8rem;
      margin-left: -7rem;
    }

    i {
      font-size: 3rem;
      margin-top: -1rem;
      margin-left: -7rem;
    }

    .quantity {
      margin-top: -0.5rem;

      a {
        text-decoration: none;
        border: 1px solid black;
        margin-right: -0.3rem;
        font-weight: 600;
        font-size: 2.2rem;
        color: black;
        padding: 0.7rem 2.1rem;
      }
      #clicked {
        color: white;
        background: black;
      }
    }

    h3 {
      font-weight: 600;
      font-size: 2.2rem;
      margin-top: 3rem;
      margin-bottom: 2rem;
    }
  }

  button {
    background: black;
    color: white;
    border: 1px solid black;
    padding: 1.5rem 10.6rem;
    margin-left: 0.3rem;
    margin-top: 3rem;
    font-size: 1.3rem;
    font-weight: 600;
  }
}

img#border2 {
  margin-top: 7rem;
  width: 100%;
  height: 7.5rem;
}

#top-picks {
  text-align: center;
  margin-top: 3.5rem;

  h1 {
    font-size: 2.3rem;
  }

  p {
    font-size: 1.3rem;
    line-height: 2rem;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    margin-top: 1rem;
    font-weight: 300;
  }
}

#food {
  text-align: center;
  margin-top: 2rem;

  img {
    width: 100%;
    height: auto;
    margin-top: 2rem;
    padding: 0 4%;
  }

  h1 {
    margin-top: 0.5rem;
    font-size: 1.4rem;
  }

  h3 {
    margin-bottom: 1rem;
    font-weight: 300;
    font-size: 1.3rem;
  }

  a {
    font-family: 'Space Mono';
    color: black;
  }
}

h1#talking {
  margin-top: 21rem;
  text-align: center;
  font-size: 2.3rem;
}

.shoutout {
  text-align: center;
  margin: 0 auto;

  img {
    width: 13rem;
    height: auto;
    margin-top: 5.5rem;
  }

  img#w-and-g {
    width: 24rem;
    height: auto;
  }

  p {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 300;
    margin-top: 5.5rem;
    padding: 3%;
  }
}

img#border3 {
  margin-top: 12rem;
  width: 100%;
  height: 7.5rem;
}

.last {
  margin-top: 6rem;

  h1 {
    text-align: center;
    font-family: "Francois One";
    font-size: 3.6rem;
    letter-spacing: 0.1rem;
  }

  #last-grid {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: 50% 50%;
    border-bottom: 1px solid #b0b3b3;

    img {
      width: 100%;
      height: auto;
    }
  }
}

#grey {
  background: #f7f7f7;
  height: 59rem;
}

#link-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row-gap: 8rem;

  .grid-block {
    margin-left: 4rem;
  }

  a {
    display: block;
    color: black;
    text-decoration: none;
    line-height: 3rem;
    font-weight: 600;
    font-size: 1.3rem;
  }

  p {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    font-family: 'Space Mono';
    font-size: 1.2rem;
  }
}

footer {
  background: black;
  height: 14rem;

  #footer-links {
    text-align: center;
    padding-top: 2rem;
    line-height: 3rem;
  }

  a {
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: none;
    padding: 0.4rem;
  }
}

@media (min-width: 768px) {

  div.main {
    div.main-grid {
      margin-top: -42rem;

      #arrow-left {
        margin-top: 14rem;
        font-size: 3.5rem;
        margin-left: 1.5rem;
      }

      #arrow-right {
        margin-top: 14rem;
        font-size: 3.5rem;
        margin-right: 1.1rem;
      }
    }

    #main-img {
      height: 44.5rem;
      width: 100%;
    }

    #middle-column {
      p {
        margin-top: 2rem;
        width: 56rem;
      }

      #play {
        position: absolute;
        font-size: 10rem;
        margin-top: 9.7rem;
        margin-left: -5rem;
      }

      #main-img-h1 {
        margin-top: 0rem;
      }

      button {
        margin-top: 22.5rem;
      }

      .bubbles {
        margin-top: -7rem;
      }
    }
  }

  .wrapper {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 6rem;
    background: white;
    margin-left: -5rem;
    margin-top: -1rem;

    h1 {
      font-size: 1.8rem;
    }

    p {
      width: 17rem;
      margin: 0 auto;
      margin-top: 1rem;
      line-height: 2rem;
    }
  }

  .plan-grid {
    display: grid;
    grid-template-columns: 45% 10% 45%;
    padding: 4rem;
    margin-top: 0.5rem;

    button {
      padding: 1.5rem 8.8rem;
      margin-top: 1rem;
    }

    .divider {
    	width: 1px;
      margin: 0 auto;
    	background: #c9cfcf;
    	height: 575px;
    	margin-top: 0%;
      height: 593px;
    }

    #weekly {
      margin-top: 0rem;
      margin: 0 auto;

      .block {
        margin: 0 auto;

        .quantity {
          margin-left: -1rem;

          a {
            padding: 0.5rem 3rem;
          }
        }

        img {
          width: auto;
          height: 26rem;
          margin-top: .5rem;
          margin-right: 2rem;
        }
      }

      .titles {
        h1#maybe-show {
          display: none;
        }
        h1#selected {
          color: black;
          background: white;
          border: none;
          font-size: 2rem;
          font-weight: 600;
          padding: 0;
          font-size: 2.3rem;
        }
      }

      .block {
        border: none;
      }
    }

    #big-show {
      display: block;

      h1 {
        font-size: 2.3rem;
      }

      img {
        height: 26rem;
        width: auto;
        margin-top: .5rem;
        margin-left: -1rem;
      }

      button {
        margin-top: 3.3rem;
      }
    }

    #two {
      margin-top: 4.6rem;

      a {
        font-size: 2.2rem;
        font-weight: 600;
        border: 1px solid black;
        background: black;
        color: white;
        padding: 0.5rem 3rem;
      }
    }

    h3 {
      font-size: 2.2rem;
      font-weight: 600;
      margin-top: 3rem;
    }

    .divider {
      height: 593px;
    }
  }

  img#border2 {
    margin-top: -4rem;
  }

  #top-picks {
    h1 {
      margin-top: 5rem;
    }

    p {
      margin: 0 auto;
      width: 43rem;
      margin-top: 1rem;
      line-height: 2rem;
    }
  }

  #food {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 3%;
    justify-content: center;

    img {
      width: 100%;
      height: auto;
      padding: 0;
    }

    a {
      font-size: 1.3rem;
    }
  }

  .shoutout {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 4rem;
    margin-top: 4rem;
    justify-content: center;

    img {
      width: auto;
      height: 4rem;
      margin-top: 0rem;
    }

    img#w-and-g {
      width: auto;
      height: 4rem;
    }

    p {
      width: 100%;
      margin: 0 auto;
      margin-top: 4rem;
    }

    div {
      margin: 0 auto;
    }
  }

  .last {
    #last-grid {
        grid-template-columns: 25% 25% 25% 25%;
    }
  }

  #grey {
    height: 33.5rem;

    #link-grid {
      grid-template-columns: 25% 25% 25% 25%;
    }
  }

  footer {
    height: 11rem;
  }
}

@media (min-width: 992px) {
  header {
    #navbar {
      padding: 0 1.5rem;

      h1 {
        padding-top: 0;
        display: inline;
        position: absolute;
        font-size: 2.1rem;
        margin-top: 1rem;
        width: 100%;
        text-align: center;
        margin-left: -37rem;
      }

      .hamburger {
        display: none;
      }

      .header.nav-item {
        display: inline-block;
        text-decoration: none;
      }
      #header-left {
        display: inline;

        a {
          float: left;
          display: block;
          text-align: center;
          padding: 14px 17.5px;
          color: black;
          font-size: 1.4rem;
          font-weight: 500;
          margin-top: 0.2rem;
        }

        a:hover {
          color: #606161;
        }

        i {
          position: absolute;
          margin-top: 1.4%;
          font-size: 2rem;
          margin-left: 0rem;
          margin-top: 0rem;
        }
      }
      #header-right {
        display: inline;

        a {
          float: right;
          display: block;
          text-align: center;
          padding: 14px 17.5px;
          text-decoration: none;
          color: black;
          font-size: 1.4rem;
          font-weight: 500;
          margin-top: 0.2rem;
        }

        a:hover {
          color: #606161;
        }

        #start {
          padding: 9px 13.5px;
          padding-bottom: 12px;
          background: black;
          color: white;
          margin-top: 0.6rem;
        }
      }
    }
  }

  #food {
    padding: 0 2rem;
  }
}
