* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body {
  font-size: 10px; }

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 200; }

img {
  width: 100%;
  height: auto; }

header .nav-item {
  display: none; }
header #navbar {
  background: white;
  height: 5.5rem;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  border-bottom: 1px solid #e9e9e9; }
header #logo-h1 {
  text-align: center;
  font-size: 1.6rem;
  letter-spacing: 0.5rem;
  padding-top: 1.5rem; }
header .hamburger {
  position: absolute;
  margin-top: -3.0rem;
  border: 1px solid #c9cfcf;
  display: inline-block;
  margin-left: 87%;
  padding: 0.6rem 0.9rem;
  border-radius: 3px; }
  header .hamburger .burger-line {
    width: 22px;
    height: 2px;
    background-color: grey;
    margin: 4px 0;
    border-radius: 25px; }

div.main {
  margin-top: 5.5rem; }
  div.main img {
    width: 100%;
    height: 25rem; }
  div.main .main-grid {
    position: absolute;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    margin-top: -18rem;
    width: 100%; }
    div.main .main-grid #arrow-right {
      padding-left: 1rem;
      margin-top: 3.5rem;
      text-align: right; }
    div.main .main-grid #play {
      font-size: 6rem;
      opacity: 0.5; }
    div.main .main-grid #play i:hover {
      opacity: 1; }
    div.main .main-grid #arrow-left {
      margin-top: 3.5rem; }
    div.main .main-grid #middle-column {
      text-align: center;
      margin: 0 auto; }
    div.main .main-grid #main-img-h1 {
      font-size: 3.6rem;
      margin-top: 12.5rem;
      line-height: 4.1rem;
      font-family: "Francois One";
      letter-spacing: 0.1rem;
      padding: 0 4%; }
    div.main .main-grid p {
      margin-top: 1.7rem;
      font-size: 13px;
      line-height: 2rem;
      font-weight: 300;
      width: 346px;
      margin: 0 auto; }
    div.main .main-grid button {
      background: black;
      color: white;
      padding: 2rem 12.8rem;
      margin-top: 1.8rem;
      border: 1px solid black; }
      div.main .main-grid button span {
        position: absolute;
        margin-top: -0.8rem;
        margin-left: -5rem;
        font-weight: 600;
        font-size: 1.3rem; }
      div.main .main-grid button i {
        position: absolute;
        margin-top: -1.5rem;
        margin-left: 8rem;
        font-size: 3rem; }
    div.main .main-grid .bubbles i {
      font-size: 2rem;
      margin-top: 10rem; }

.wrapper {
  text-align: center;
  margin-top: 31.5rem;
  padding: 8rem; }
  .wrapper img {
    height: auto;
    width: 20rem; }
  .wrapper p {
    font-weight: 300;
    line-height: 2rem;
    font-size: 1.3rem;
    margin-top: 1rem; }

#border {
  width: 100%;
  height: 7.5rem;
  margin-top: -1rem; }

#pick-your {
  text-align: center;
  padding: 0 2rem; }
  #pick-your h1 {
    margin-top: 3rem;
    font-family: "Francois One";
    font-size: 3.6rem;
    letter-spacing: 0.1rem; }
  #pick-your p {
    font-size: 13px;
    font-weight: 300;
    line-height: 2rem;
    margin-top: 1rem; }

.plan-grid {
  text-align: center; }
  .plan-grid #big-show {
    display: none; }
  .plan-grid #weekly {
    margin-top: 4rem; }
    .plan-grid #weekly .titles {
      margin-left: -.3rem; }
    .plan-grid #weekly h1 {
      font-size: 1.7rem;
      letter-spacing: 0.1rem;
      display: inline-block;
      border: 1px solid black;
      margin-right: -0.3rem;
      padding: 0.3rem 4.7rem;
      font-weight: 200; }
    .plan-grid #weekly #selected {
      background: black;
      color: white; }
  .plan-grid .block {
    border: 1px solid black;
    width: 33.6rem;
    margin-left: 2.1rem;
    margin: 0 auto; }
    .plan-grid .block img {
      width: auto;
      height: 20rem;
      margin-top: 2rem; }
    .plan-grid .block p {
      font-family: 'Kalam', cursive;
      font-size: 1.8rem;
      margin-left: -7rem; }
    .plan-grid .block i {
      font-size: 3rem;
      margin-top: -1rem;
      margin-left: -7rem; }
    .plan-grid .block .quantity {
      margin-top: -0.5rem; }
      .plan-grid .block .quantity a {
        text-decoration: none;
        border: 1px solid black;
        margin-right: -0.3rem;
        font-weight: 600;
        font-size: 2.2rem;
        color: black;
        padding: 0.7rem 2.1rem; }
      .plan-grid .block .quantity #clicked {
        color: white;
        background: black; }
    .plan-grid .block h3 {
      font-weight: 600;
      font-size: 2.2rem;
      margin-top: 3rem;
      margin-bottom: 2rem; }
  .plan-grid button {
    background: black;
    color: white;
    border: 1px solid black;
    padding: 1.5rem 10.6rem;
    margin-left: 0.3rem;
    margin-top: 3rem;
    font-size: 1.3rem;
    font-weight: 600; }

img#border2 {
  margin-top: 7rem;
  width: 100%;
  height: 7.5rem; }

#top-picks {
  text-align: center;
  margin-top: 3.5rem; }
  #top-picks h1 {
    font-size: 2.3rem; }
  #top-picks p {
    font-size: 1.3rem;
    line-height: 2rem;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    margin-top: 1rem;
    font-weight: 300; }

#food {
  text-align: center;
  margin-top: 2rem; }
  #food img {
    width: 100%;
    height: auto;
    margin-top: 2rem;
    padding: 0 4%; }
  #food h1 {
    margin-top: 0.5rem;
    font-size: 1.4rem; }
  #food h3 {
    margin-bottom: 1rem;
    font-weight: 300;
    font-size: 1.3rem; }
  #food a {
    font-family: 'Space Mono';
    color: black; }

h1#talking {
  margin-top: 21rem;
  text-align: center;
  font-size: 2.3rem; }

.shoutout {
  text-align: center;
  margin: 0 auto; }
  .shoutout img {
    width: 13rem;
    height: auto;
    margin-top: 5.5rem; }
  .shoutout img#w-and-g {
    width: 24rem;
    height: auto; }
  .shoutout p {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 300;
    margin-top: 5.5rem;
    padding: 3%; }

img#border3 {
  margin-top: 12rem;
  width: 100%;
  height: 7.5rem; }

.last {
  margin-top: 6rem; }
  .last h1 {
    text-align: center;
    font-family: "Francois One";
    font-size: 3.6rem;
    letter-spacing: 0.1rem; }
  .last #last-grid {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: 50% 50%;
    border-bottom: 1px solid #b0b3b3; }
    .last #last-grid img {
      width: 100%;
      height: auto; }

#grey {
  background: #f7f7f7;
  height: 59rem; }

#link-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row-gap: 8rem; }
  #link-grid .grid-block {
    margin-left: 4rem; }
  #link-grid a {
    display: block;
    color: black;
    text-decoration: none;
    line-height: 3rem;
    font-weight: 600;
    font-size: 1.3rem; }
  #link-grid p {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    font-family: 'Space Mono';
    font-size: 1.2rem; }

footer {
  background: black;
  height: 14rem; }
  footer #footer-links {
    text-align: center;
    padding-top: 2rem;
    line-height: 3rem; }
  footer a {
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: none;
    padding: 0.4rem; }

@media (min-width: 768px) {
  div.main div.main-grid {
    margin-top: -42rem; }
    div.main div.main-grid #arrow-left {
      margin-top: 14rem;
      font-size: 3.5rem;
      margin-left: 1.5rem; }
    div.main div.main-grid #arrow-right {
      margin-top: 14rem;
      font-size: 3.5rem;
      margin-right: 1.1rem; }
  div.main #main-img {
    height: 44.5rem;
    width: 100%; }
  div.main #middle-column p {
    margin-top: 2rem;
    width: 56rem; }
  div.main #middle-column #play {
    position: absolute;
    font-size: 10rem;
    margin-top: 9.7rem;
    margin-left: -5rem; }
  div.main #middle-column #main-img-h1 {
    margin-top: 0rem; }
  div.main #middle-column button {
    margin-top: 22.5rem; }
  div.main #middle-column .bubbles {
    margin-top: -7rem; }

  .wrapper {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 6rem;
    background: white;
    margin-left: -5rem;
    margin-top: -1rem; }
    .wrapper h1 {
      font-size: 1.8rem; }
    .wrapper p {
      width: 17rem;
      margin: 0 auto;
      margin-top: 1rem;
      line-height: 2rem; }

  .plan-grid {
    display: grid;
    grid-template-columns: 45% 10% 45%;
    padding: 4rem;
    margin-top: 0.5rem; }
    .plan-grid button {
      padding: 1.5rem 8.8rem;
      margin-top: 1rem; }
    .plan-grid .divider {
      width: 1px;
      margin: 0 auto;
      background: #c9cfcf;
      height: 575px;
      margin-top: 0%;
      height: 593px; }
    .plan-grid #weekly {
      margin-top: 0rem;
      margin: 0 auto; }
      .plan-grid #weekly .block {
        margin: 0 auto; }
        .plan-grid #weekly .block .quantity {
          margin-left: -1rem; }
          .plan-grid #weekly .block .quantity a {
            padding: 0.5rem 3rem; }
        .plan-grid #weekly .block img {
          width: auto;
          height: 26rem;
          margin-top: .5rem;
          margin-right: 2rem; }
      .plan-grid #weekly .titles h1#maybe-show {
        display: none; }
      .plan-grid #weekly .titles h1#selected {
        color: black;
        background: white;
        border: none;
        font-size: 2rem;
        font-weight: 600;
        padding: 0;
        font-size: 2.3rem; }
      .plan-grid #weekly .block {
        border: none; }
    .plan-grid #big-show {
      display: block; }
      .plan-grid #big-show h1 {
        font-size: 2.3rem; }
      .plan-grid #big-show img {
        height: 26rem;
        width: auto;
        margin-top: .5rem;
        margin-left: -1rem; }
      .plan-grid #big-show button {
        margin-top: 3.3rem; }
    .plan-grid #two {
      margin-top: 4.6rem; }
      .plan-grid #two a {
        font-size: 2.2rem;
        font-weight: 600;
        border: 1px solid black;
        background: black;
        color: white;
        padding: 0.5rem 3rem; }
    .plan-grid h3 {
      font-size: 2.2rem;
      font-weight: 600;
      margin-top: 3rem; }
    .plan-grid .divider {
      height: 593px; }

  img#border2 {
    margin-top: -4rem; }

  #top-picks h1 {
    margin-top: 5rem; }
  #top-picks p {
    margin: 0 auto;
    width: 43rem;
    margin-top: 1rem;
    line-height: 2rem; }

  #food {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 3%;
    justify-content: center; }
    #food img {
      width: 100%;
      height: auto;
      padding: 0; }
    #food a {
      font-size: 1.3rem; }

  .shoutout {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 4rem;
    margin-top: 4rem;
    justify-content: center; }
    .shoutout img {
      width: auto;
      height: 4rem;
      margin-top: 0rem; }
    .shoutout img#w-and-g {
      width: auto;
      height: 4rem; }
    .shoutout p {
      width: 100%;
      margin: 0 auto;
      margin-top: 4rem; }
    .shoutout div {
      margin: 0 auto; }

  .last #last-grid {
    grid-template-columns: 25% 25% 25% 25%; }

  #grey {
    height: 33.5rem; }
    #grey #link-grid {
      grid-template-columns: 25% 25% 25% 25%; }

  footer {
    height: 11rem; } }
@media (min-width: 992px) {
  header #navbar {
    padding: 0 1.5rem; }
    header #navbar h1 {
      padding-top: 0;
      display: inline;
      position: absolute;
      font-size: 2.1rem;
      margin-top: 1rem;
      width: 100%;
      text-align: center;
      margin-left: -37rem; }
    header #navbar .hamburger {
      display: none; }
    header #navbar .header.nav-item {
      display: inline-block;
      text-decoration: none; }
    header #navbar #header-left {
      display: inline; }
      header #navbar #header-left a {
        float: left;
        display: block;
        text-align: center;
        padding: 14px 17.5px;
        color: black;
        font-size: 1.4rem;
        font-weight: 500;
        margin-top: 0.2rem; }
      header #navbar #header-left a:hover {
        color: #606161; }
      header #navbar #header-left i {
        position: absolute;
        margin-top: 1.4%;
        font-size: 2rem;
        margin-left: 0rem;
        margin-top: 0rem; }
    header #navbar #header-right {
      display: inline; }
      header #navbar #header-right a {
        float: right;
        display: block;
        text-align: center;
        padding: 14px 17.5px;
        text-decoration: none;
        color: black;
        font-size: 1.4rem;
        font-weight: 500;
        margin-top: 0.2rem; }
      header #navbar #header-right a:hover {
        color: #606161; }
      header #navbar #header-right #start {
        padding: 9px 13.5px;
        padding-bottom: 12px;
        background: black;
        color: white;
        margin-top: 0.6rem; }

  #food {
    padding: 0 2rem; } }

/*# sourceMappingURL=main.css.map */
